In [12]:
import csv, sys
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt

In [42]:
raw = pd.read_csv('/Users/songkim/Google Drive/Primary/Projects/VerbVector/CREA_vrating_context_wb.csv', index_col=0)

In [43]:
raw.head()

,lemma,Database,AspClass,SynClass,No,Word,WC,ID,KRNS,N,...,Dom_PoS_SUBTLEX,All_PoS_SUBTLEX,Percentage_dom_PoS,Context 1,Context 2,Context 3,Context 4,Context 5,Context 6,Context 7
0,approach,CREA,activity,trans,181,approached,2,19,Y,27,...,Noun,Noun.Verb,0.63,The yellow dog approached the friendly teacher.,The priest approached the lonely family.,The mob approached the embassy.,The car approached the river.,NaN,NaN,NaN
1,arrest,CREA,achieve,trans,182,arrested,2,201,Y,30,...,Noun,Noun.Verb.Name,0.56,The soldier arrested the injured activist.,The policeman arrested the angry driver.,NaN,NaN,NaN,NaN,NaN
2,eat,CREA,activity,trans,183,ate,2,245,Y,29,...,Verb,Verb.Noun,1.00,The old farmer ate at the expensive hotel.,The dog ate the egg.,The commander ate chicken at dinner.,The tourist ate bread on vacation.,The reporter ate at the new restaurant.,NaN,NaN
3,block,CREA,both,trans,184,blocked,2,187,Y,27,...,Noun,Noun.Verb.Name,0.80,The bicycle blocked the green door.,The cloud blocked the sun.,NaN,NaN,NaN,NaN,NaN
4,buy,CREA,achieve,trans,185,bought,2,23,Y,29,...,Verb,Verb.Noun,0.99,The doctor bought the used boat.,The banker bought the expensive boat.,The diplomat bought the aggressive dog.,The parent bought the magazine.,The woman bought medicine at the store.,NaN,NaN

In [67]:
#raw_es = vector with only "Event/Social" features
rc_es = raw[['lemma', 'AspClass', 'SynClass', 'Time', 'Duration', 'Long', 'Short', 'Caused', 'Consequential', 'Social', 'Human', 'Communication', 'Self', 'Cognition']]

In [68]:
rc_es.head()

,lemma,AspClass,SynClass,Time,Duration,Long,Short,Caused,Consequential,Social,Human,Communication,Self,Cognition
0,approach,activity,trans,0,0,0.5185,2.9630,1.7037,3.2963,4.1481,3.8889,2.4815,2.9259,1.1111
1,arrest,achieve,trans,0,0,1.0667,2.4333,3.6000,5.2667,5.5333,3.9333,2.2000,0.1000,1.6667
2,eat,activity,trans,0,0,0.7241,2.7241,2.4483,2.4483,2.0000,2.7931,0.6552,5.1034,1.0345
3,block,both,trans,0,0,1.6296,1.5556,3.4074,4.2593,1.8889,2.2593,0.7778,0.7407,1.2963
4,buy,achieve,trans,0,0,0.8621,3.0000,1.8276,2.8276,4.5517,4.4828,3.2759,4.1034,2.6552

In [71]:
#plt.scatter(rc_es["Consequential"], rc_es["SynClass"])
#plt.xlabel("ratings on 'Consequential'")
#plt.ylabel("SynClass")
#plt.show()

In [61]:
synclass = set(rc_es['SynClass'].to_list())
synclass

{'trans', 'unacc', 'unerg'}

In [66]:
#Let's test how event/social features cluster the datapoints into three clusters. 
K=3
Centroids = (rc_es.sample(n=K))

#for initial plotting
# plt.scatter(rc_es["Caused"], rc_es["SynClass"], c='black')
# plt.scatter(Centroids["Caused"], Centroids["SynClass"], c='red')
# plt.show()

In [76]:
features = rc_es.columns.to_list()[3:]
features

['Time',
 'Duration',
 'Long',
 'Short',
 'Caused',
 'Consequential',
 'Social',
 'Human',
 'Communication',
 'Self',
 'Cognition']

In [77]:
enumerate(features)

In [78]:
for i, j in enumerate(features):
    print (i,j)

0 Time
1 Duration
2 Long
3 Short
4 Caused
5 Consequential
6 Social
7 Human
8 Communication
9 Self
10 Cognition

In [81]:
dic = {1:3, 2:4, 3:5}
len(dic.values())
#np.sqrt(sum(dic.values()))

3

In [86]:
diff = 1
j=0


while(diff!=0):
    XD=rc_es
    i=1
    for index_c,row_c in Centroids.iterrows():
        ED=[]
        for index_r,row_r in XD.iterrows():
            d_dict = {}
            for a, b in enumerate(features):
                d_dict[a+1] = (row_c[b]-row_r[b])**2
            d=(sum(d_dict.values()))**(1.0/len(d_dict.values()))
            ED.append(d)
        rc_es[i]=ED
        i=i+1
        
        
    C=[]
    for index,row in rc_es.iterrows():
        min_dist=row[1]
        pos=1
        for i in range(K):
            if row[i+1] < min_dist:
                min_dist = row[i+1]
                pos=i+1
        C.append(pos)
    rc_es["Cluster"]=C
    Centroids_new = rc_es.groupby(["Cluster"]).mean()[features]
    

    if j == 0:
        diff=1
        j=j+1
    else:
        diff = (Centroids_new['LoanAmount'] - Centroids['LoanAmount']).sum() + (Centroids_new['ApplicantIncome'] - Centroids['ApplicantIncome']).sum()
        #print(diff.sum())
    Centroids = X.groupby(["Cluster"]).mean()[["LoanAmount","ApplicantIncome"]]

/Users/songkim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/Users/songkim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Time,Duration,Long,Short,Caused,Consequential,Social,Human,Communication,Self,Cognition
Cluster,,,,,,,,,,,
1,0.0,0.00000,2.612867,1.268100,1.665867,2.169133,2.026667,3.466333,3.035300,4.876433,3.877667
2,0.0,0.02439,1.245739,2.390351,2.542029,2.977776,1.770246,2.835144,1.031983,2.553385,1.569163
3,0.0,0.00000,1.373783,2.293239,2.356667,3.358278,4.928967,4.187111,4.089556,3.083656,2.896256

In [85]:
rc_es.head()

,lemma,AspClass,SynClass,Time,Duration,Long,Short,Caused,Consequential,Social,Human,Communication,Self,Cognition,1,2,3
0,approach,activity,trans,0,0,0.5185,2.9630,1.7037,3.2963,4.1481,3.8889,2.4815,2.9259,1.1111,1.370498,1.218832,1.171286
1,arrest,achieve,trans,0,0,1.0667,2.4333,3.6000,5.2667,5.5333,3.9333,2.2000,0.1000,1.6667,1.451278,1.363598,1.325313
2,eat,activity,trans,0,0,0.7241,2.7241,2.4483,2.4483,2.0000,2.7931,0.6552,5.1034,1.0345,1.339154,1.192247,1.346695
3,block,both,trans,0,0,1.6296,1.5556,3.4074,4.2593,1.8889,2.2593,0.7778,0.7407,1.2963,1.400646,1.242280,1.395829
4,buy,achieve,trans,0,0,0.8621,3.0000,1.8276,2.8276,4.5517,4.4828,3.2759,4.1034,2.6552,1.348037,1.295230,1.126873